<!-- Content section
================================================== -->
<section class="content no-padding">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<img src="assets/images/pages/the-man.png" class="img-responsive" alt="Image">
			</div>
			<div class="col-sm-7">

				<h1 class="title-lgx">I'M <span class="text-brand">BAO TRAN</span></h1>
				<h3 class="title-light">WEB DEVELOPER</h3>

				<br>
				<p>
					Full Stack Developer, Usability in Website and Software Design, C#, Angular, Vue, React Programming, Web Page Development, Relational Database Design & SQL Data Engineering.
				</p>

				<br>
				<h2 class="title-lg">OBJECTIVE</h2>
				<p>
					I am seeking a competitive and challenging environment where I can serve your organization and establish an enjoyable career for myself.
				</p>

				<br>
				<p>
					Yours sincerely,
					<img src="assets/images/pages/signature.png" style="margin-top: 15px; max-width:266px;" class="img-responsive" alt="Image">
				</p>

				<br>
				<p>
					<a href="resume.html" class="btn at-link">View Resume</a>
				</p>
			</div>
		</div>
	</div>

</section>
