	<!-- Content section
	================================================== -->
	<section class="content">
		<div class="container">
			<div class="row mb-3">
				<div class="col-md-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9275.459453460364!2d109.1663766946881!3d12.190587391513697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705e6b816c4261%3A0x90a5d8fca2931440!2zVHLhuqduIFPDom0sIFBoxrDhu5tjIFRydW5nLCBQaMaw4bubYyDEkOG7k25nLCBUcC4gTmhhIFRyYW5nLCBLaMOhbmggSMOyYSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1618560369437!5m2!1sen!2s" width="100%" height="420" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h3 class="title-md">CONTACT ADDRESS</h3>
					<address>
						<table>
							<tr>
								<td><img src="assets/images/svg/map-marker.svg" class="address-icon"></td>
								<td>09 Tran Sam, Phuoc Dong, Nha Trang, Khanh Hoa</td>
							</tr>
							<tr>
								<td><img src="assets/images/svg/mobile-phone.svg" class="address-icon"></td>
								<td>Phone : +84 979 290 992</td>
							</tr>
							<tr>
								<td><img src="assets/images/svg/envelope.svg" class="address-icon"></td>
								<td>Email: tranbao299@gmail.com </td>
							</tr>
							<tr>
								<td><img src="assets/images/svg/home.svg" class="address-icon"></td>
								<td>Website : https://btran2909.github.io/resume</td>
							</tr>
						</table>
					</address>

					<ul class="socials">
						<li><a href="tel:+849290992"><i class="fa fa-phone"></i></a></li>
						<li><a href="mailto:tranbao299@gmail.com"><i class="fa fa-envelope"></i></a></li>
						<li><a href="https://join.skype.com/invite/Tsbinrwp5T3I"><i class="fa fa-skype"></i></a></li>
						<li><a href="https://www.facebook.com/btq92"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://btran2909.github.io/resume"><i class="fa fa-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-7">
					<h3 class="title-md">LET’S HAVE A FUN</h3>
					<div class="alert alert-success" role="alert" id="alertForm">
						<strong>Success!</strong> Thanks for being awesome!
					</div>
					<form method="post" id="contactform">
						<p><input type="text" placeholder="Your name *" name="name" id="your-name" required></p>
						<p><input type="email" placeholder="Your email *" name="email" required></p>
						<p><textarea placeholder="Your message" name="comment"></textarea></p>
						<p><input type="submit" value="Send message"></p>
					</form>
				</div>
			</div>
		</div>
	</section>
