<!-- Content section
================================================== -->
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="portfolio-posts">
					<div class="folio-filter">
						<a href="javascript:;" data-filter="*" class="btn active">Show All</a>
						<a href="javascript:;" data-filter=".website" class="btn">Websites</a>
						<a href="javascript:;" data-filter=".library" class="btn">Library</a>
					</div>
					<div class="folio-viewport">
						<article class="folio-item col-md-4 col-sm-6 col-xs-12 website">
							<div class="entry-item" data-bg-image="assets/images/portfolio/grid_1.png">
								<img src="assets/images/3x4.png" class="img-block" alt="image block">
								<div class="entry-hover">
									<span class="inner-table">
										<span class="inner-cell">
											<h3>Badgeland Website Application</h3>
											<span class="category">Badgeland is an E-Commerce and support for client design armorial online</span>
											<a href="https://badgeland.se" class="permalink at-link"><i class="fa fa-angle-right"></i></a>
										</span>
									</span>
								</div>
							</div>
						</article>
						<article class="folio-item col-md-4 col-sm-6 col-xs-12 website">
							<div class="entry-item" data-bg-image="assets/images/portfolio/grid_2.png">
								<img src="assets/images/3x4.png" class="img-block" alt="image block">
								<div class="entry-hover">
									<span class="inner-table">
										<span class="inner-cell">
											<h3>BMS Website Application</h3>
											<span class="category">BMS is the internal application for management of the bank system</span>
											<a href="http://10.0.0.241:9901" class="permalink at-link"><i class="fa fa-angle-right"></i></a>
										</span>
									</span>
								</div>
							</div>
						</article>
						<article class="folio-item col-md-4 col-sm-6 col-xs-12 website">
							<div class="entry-item" data-bg-image="assets/images/portfolio/grid_3.png">
								<img src="assets/images/3x4.png" class="img-block" alt="image block">
								<div class="entry-hover">
									<span class="inner-table">
										<span class="inner-cell">
											<h3>SRP Website Application</h3>
											<span class="category">SRP is the internal application for management of the school learning</span>
											<a href="http://10.0.0.241:9901" class="permalink at-link"><i class="fa fa-angle-right"></i></a>
										</span>
									</span>
								</div>
							</div>
						</article>
						<article class="folio-item col-md-4 col-sm-6 col-xs-12 website">
							<div class="entry-item" data-bg-image="assets/images/portfolio/grid_4.png">
								<img src="assets/images/3x4.png" class="img-block" alt="image block">
								<div class="entry-hover">
									<span class="inner-table">
										<span class="inner-cell">
											<h3>Kikker Website Application</h3>
											<span class="category">Sell energy under your own label right away and with no big investment required. Full control thanks to leading software.</span>
											<a href="https://kikker.nl" class="permalink at-link"><i class="fa fa-angle-right"></i></a>
										</span>
									</span>
								</div>
							</div>
						</article>
						<article class="folio-item col-md-4 col-sm-6 col-xs-12 website">
							<div class="entry-item" data-bg-image="assets/images/portfolio/grid_5.png">
								<img src="assets/images/3x4.png" class="img-block" alt="image block">
								<div class="entry-hover">
									<span class="inner-table">
										<span class="inner-cell">
											<h3>ClareAI Website Application</h3>
											<span class="category">Bot Chat for Facebook, WhatsApp,etc... .</span>
											<a href="https://hk-demo200.clare.ai/Account/LogIn" class="permalink at-link"><i class="fa fa-angle-right"></i></a>
										</span>
									</span>
								</div>
							</div>
						</article>
						<article class="folio-item col-md-4 col-sm-6 col-xs-12 library">
							<div class="entry-item" data-bg-image="assets/images/portfolio/grid_9.png">
								<img src="assets/images/3x4.png" class="img-block" alt="image block">
								<div class="entry-hover">
									<span class="inner-table">
										<span class="inner-cell">
											<h3>Angular UI Library</h3>
											<span class="category">It's contains all core (and not only) Bootstrap components powered by Angular</span>
											<a href="https://www.npmjs.com/package/bao-tran-angular" class="permalink at-link"><i class="fa fa-angle-right"></i></a>
										</span>
									</span>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
